# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log

# Large model files
*.task
pose_landmarker_lite.task

# IDEs
.vscode/
.idea/
.DS_Store
